{% extends "template.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
<body>
<div class="wrapper">
    <header style="background-image: url({% static 'images/top.jpg' %})">
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
               Senhe Hao
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'home' %}" class="menuselector">Home</a></li>
                    <li><a href="{% url 'index' %}" class="menuselector">Portfolio</a></li>
                    <li><a href="#" class="menuselector">Blog</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        <p class="intro">
            Howdy!
        </p>
        <br>
        <hr class="info-sep">
        <br>
        <p class="info">
            I'm Senhe Hao, a freshman at TAMU studying computer science. I enjoy doing a wide variety of things such as programming, math, playing the trumpet, writing, animation, reading, and playing video games. One of my favorite things to do is to solve problems. To me, there's no better feeling then what you get after finally solving something that's been frustrating you for hours. An example would be this website. This website is a massive problem. It was a pain to create each page, but the site is turning out pretty well. Funny part is that getting the favicon to work took the most time.
        </p>
    </div>
    <div class="resume-area" style="background-image: url({% static 'images/mid.jpg' %})">
        <p class="resume-title">
            CHECK OUT MY RESUME
        </p>
        <br>
        <br>
        <hr class="resume-line">
        <br>
        <button class="ctrl-standard typ-subhed fx-sliderIn">Click Here</button>
    </div>
    <div class="content">
        <p class="more-abt-title">
            About Me
        </p>
        <br>
        <hr class="info-sep">
        <br>
        <p class="more-abt-content">
            I'm a full-stack web, desktop, and game developer proficient in languages including C++, Java, Go, Javascript, Python, and C#. Some frameworks and apis I use include Qt, Vue, Node, Express, Django, Tensorflow, OpenGL, and Gin.
        </p>
        <br>
        <hr class="info-sep">
        <br>
        <p class="more-abt-content">
            I was born in Yokohama, Japan and lived for a short time in China as well before moving to the United States. I was raised for most of my life in Austin, Texas and currently live at College Station.
        </p>
        <br>
        <hr class="info-sep">
        <br>
        <p class="more-abt-content">
            I enjoy experiencing the outdoors and going on adventures in the wilderness. During high school I was in the Scouts of America program and eventually reached Eagle. Although I got the chance to experience Northern Tier, I didn't get to trek Philmont because it burned down :(
        </p>
    </div>
    <div class="links" style="background-image: url({% static 'images/bot.jpg' %})">
        <div class="container">
            <div class="row">
                <p class="links-title">
                    Links
                </p>
            </div>
            <hr class="resume-line">
            <br>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <a class="btn ctrl-standard typ-subhed fx-sliderIn" href="https://github.com/Thionazin">LinkedIn</a>
                </div>
                <div class="col">
                    <a class="btn ctrl-standard typ-subhed fx-sliderIn" href="https://www.linkedin.com/in/senhe-hao-7548841a8">Github</a>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <div class="footer content">
        <p class="title-footer">
            Thanks for stopping by!
        </p>
        <br>
        <br>
        <p>
            Spam me:
        </p>
        <p>
            Phone: 512-517-2749
        </p>
        <p>
            Email: SenheHesen@gmail.com
        </p>
        <p>
            Photo Credits: Dana Tentis from Pexels, Bess Hamiti from Pexels, and Getty Images
        </p>
        <p>
            Note: This website is still a work in progress. Photos are not final.
        </p>
    </div>
</div>
</body>
</html>
{% endblock %}
