{% extends "template.html" %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/academics.css' %}">
<body>
<div class="wrapper">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                Senhe Hao
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'home' %}" class="menuselector">Home</a></li>
                    <li><a href="{% url 'index' %}" class="menuselector">Portfolio</a></li>
                    <li><a href="{% url 'academics' %}" class="menuselector">Academics and Achievements</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="content">
        <p class="more-abt-title">
            Coursework
        </p>
        <br>
        <hr class="info-sep">
        <br>
        <p class="more-abt-subtitle">
            Fall 2020:
        </p>
        <br>
        <p class="more-abt-content">ENDS 101</p>
        <p class="more-abt-content">ENGR 102</p>
        <p class="more-abt-content">MATH 251</p>
        <p class="more-abt-content">POLS 207</p>
    </div>
</div>
</body>
{% endblock %}
