{% extends "template.html" %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" type="text/css" href="{% static '/css/sc_index.css' %}">
<body>
   <div class="wrapper">
         <header>
            <nav>
               <div class="menu-icon">
                  <i class="fa fa-bars fa-2x"></i>
               </div>
               <div class="logo">
                  Senhe Hao
               </div>
               <div class="menu">
                  <ul>
                     <li><a href="{% url 'home' %}" class="menuselector">Home</a></li>
                     <li><a href="{% url 'index' %}" class="menuselector">Projects</a></li>
                     <li><a href="#">Blog</a></li>
                  </ul>
               </div>
            </nav>
         </header>
         <br>
         <br>
         <div class="container-fluid">
             <div class="row">
                {% for showcase in showcase %}
                   <div class="col-md-3">
                      <div class="card showcase-card">
                          <div class="card-body">
                              <h4 class="card-title">{{ showcase.title }}</h4>
                              <img class="card-img-top pad-bottom" src="{% static showcase.image %}">
                              <p class="card-text desc">{{ showcase.description }}</p>
                              <a class="btn ctrl-standard typ-subhed fx-sliderIn" href="{{ showcase.github_link }}"}>View Project</a>
                              <br>
                          </div>
                      </div>
                   </div>
                {% endfor %}
             </div>
         </div>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
      </div>
</body>
<script>
    function goto_link(dest)
    {
        location.href = dest
    }
</script>
{% endblock %}